@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  border: 0;
}
input:focus {
  outline: none !important;
}
.selected {
  background-color: rgb(237, 251, 255);
  border: none;
}
